<h1>Put picture here</h1>
<%#= link_to 'Wynwalls',controller: 'articles' %>

<%= link_to 'New review',
new_article_path %>

<h1>List of Reviews</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Review</th>
    <th colspan="2"></th>
  </tr>

  <%= link_to 'Reviews',
  new_article_path %>

  <% @articles.each do |article| %>
    <tr>

      <td><%= article.title %>
      </td>
      <td><%= article.text %>
      </td>
      <!-- <td><%#= link_to 'Edit',
      edit_article_path(article) %></td> -->
    </tr>

</td>
        <% end %>
      </table>
