<p>
  <strong>Name:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Review:</strong>
  <%= @article.text %>
</p>



<%= link_to 'Back', articles_path %>
<%#= link_to 'Edit',
edit_article_path(@article) %>
